body {
    line-height:1;
    font-size:100%;
    font-family: 'Inika', serif;
    background-color: rgb(52, 46, 46);
}
#container {
    width: 500px;
    height: 860px;
    margin: 0 auto;
    box-shadow: 0 0 1em #cccccc;
    background-color: aqua;
    opacity: 80%;
    border-radius: 20px;  
}

#gambar{
    padding: 20px;
    text-align: center;
}

#gambar img{
    border-radius: 50%;
}

#daftar{
    width: 350px;
    height: 450px;
    margin: 10px auto;
    background-color: white;
    border-radius: 30px;
}

#daftar form{
    padding: 20px;
}

#daftar input{
    width: 300px;
    height: 30px;
    border-radius: 10px;
}

h2{
    padding: 10px;
    font-size: 30px;
}

p{
    margin: 10px 0px 0px 130px;
}

footer{   
    margin: 0px 0px 0px 10px;
}